<%= form_with model: post_image,local: true do |f| %>
  <div class="form-group">
    <%= f.label :couse_name %>
    <%= f.text_field :couse_name, class: 'form-control post_image_couse_name' %>
  </div>
  <div class="form-group">
    <%= f.label :caption %>
    <%= f.text_area :caption, class: 'form-control post_image_caption' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>