<table class='table'>
  <thead>
    <tr>
      <th>Image</th>
      <th>CouseName</th>
      <th>Caption</th>
      <th>Tag</th>

    </tr>
  </thead>
  <tbody>
    <% post_images.each do |post_image| %>
      <tr>
        <td><%= link_to(post_image.customer) do %>
          <%= image_tag post_image.get_image(50,50) %>
          <% end %>
        </td>
        <td><%= link_to post_image.couse_name,post_image, class: "post_image_#{post_image.id}" %></td>
        <td><%= post_image.caption %></td>
        <td>コメント数: <%= post_image.post_comments.count %></td>
        <td><%= render "public/favorites/btn", post_image: post_image %></td>
      </tr>
    <% end %>
  </tbody>
</table>