<div class="container ">
  <div class="row">
    <div class="col-md-3">
      <h2>Customerinfo</h2>
      <%= render 'public/customers/info', customer: @post_image.customer %>
      <h2 class="mt-3">New cycling</h2>
      <%= render 'form', post_image: @newcycling %>
    </div>
      <%= render 'index', customer: @post_image.customer ,post_images: @post_images %>
    </div>
    <div class="col-md-8 offset-md-1">
  		<h2>Cycling detail</h2>
  		<table class="table">
  		    <tr>
            <td><%= link_to(@post_image.customer) do %>
            <%= image_tag @post_image.customer.get_profile_image(50,50), size:"100x100" %><br>
            <%= @post_image.customer.full_name %>
            <% end %>
          </td>
          <td><%= @post_image.couse_name %></td>
          <td><%= @post_image.caption %></td>
          <td>コメント数: <%= @post_image.post_comments.count %></td>
          <td><%= render "public/favorites/btn", post_image: @post_image %></td>
                    <% if @post_image.customer == current_customer %>
            <td><%= link_to 'Edit', edit_post_image_path(@post_image), class: "btn btn-sm btn-success edit_post_image_#{@post_image.id}" %></td>
            <td><%= link_to 'Destroy', @post_image, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_image_#{@post_image.id}"%></td>
          <% end %>
        </tr>
      </table>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

  <div>
  <p>コメント件数：<%= @post_image.post_comments.count %></p>
  <% @post_image.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.customer.get_profile_image(100,100) %></p>
    <%= post_comment.customer.last_name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
     <div id="comment_raty_<%= post_comment.id %>"></div>
    <% if post_comment.customer == current_customer %>
      <%#= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete %>
      <%= button_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete %>
    <% end %>
      <% if @post_image.favorited_by?(current_customer) %>
    <p>
      <%= link_to post_image_favorites_path(@post_image), method: :delete do %>
        ♥<%= @post_image.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_image_favorites_path(@post_image), method: :post do %>
        ♡<%= @post_image.favorites.count %> いいね
      <% end %>
    </p>

  <% end %>
  <script>

  // scriptファイルをどのidの部分に配置するかを指定
  new raty( document.querySelector('#comment_raty_<%= post_comment.id %>') ,{
    starOff:  '<%= asset_path('star-off.png') %>',
   starOn : '<%= asset_path('star-on.png') %>',
   starHalf: '<%= asset_path('star-half.png') %>',
   readOnly: true,
    score: <%= post_comment.rate %>,
   half: true,
    //星画像の指定などのオプションをここに記述,
   });

</script>
  <% end %>
</div>
<div>
  <%= form_with model: [@post_image, @post_comment] do |f| %>
   <div id="post_raty">
   <%= f.hidden_field :rate, id: :review_rate, class: 'form-control' %>
   </div>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
    <script>


  // scriptファイルをどのidの部分に配置するかを指定  85,86行目の記述でレビューを直接呼び出す
   $(document).ready(function () {
  let eleme = document.querySelector('#post_raty');

  let opti = {
    starOff:  '<%= asset_path('star-off.png') %>',
   starOn : '<%= asset_path('star-on.png') %>',
   starHalf: '<%= asset_path('star-half.png') %>',
   scoreName: 'post_comment[rate]',
   half: true,
   };
  raty(eleme,opti);
   });
</script>
  <% end %>
</div>
</div>

<%= render "public/maps/index" %>